APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=ariadne-registry
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file

ELASTIC_SEARCH_HOST=localhost:9200

GOOGLE_ANALYTICS=

PROVIDERS=14,59,33,60,65,58,52,61,34