/vendor
/node_modules
/bower_components
.env
/nbproject
composer.phar
.idea
.vagrant
Vagrantfile
*.iml
Homestead.yaml
/components
/public/css
/public/img/leaflet/default
/public/fonts
/public/js
/dist
