.fullscreen {
	position: fixed;
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
}

.browse-container .controls {
	
	position: absolute;
	top: 75px;
	right: 10px;
	z-index: 500;
	text-align: center;

	.btn-search {	
		border-color: darken($yellow, 5%);
	 	background-color: $yellow;
	 	color: #fff;
	 	text-align: center;
	}

	.btn-search:hover {	
		border-color: darken($yellow, 5%);
	 	background-color: $yellow;
	 	color: #fff;
	}

}