/* Footer */
#footer {

  font-size: 0.9em;
  padding: 30px;
  background-color: #ccc;
  width: 100%;
  height: 100px;
}

#frontpage #footer {

  position: absolute !important;
  bottom: 0;
  background-color: rgba(0, 0, 0 , 0.2);
  color: #fff;
}

#frontpage #footer p {
	margin: 0;
}