/* Footer */
#footer {

  font-size: 0.9em;
  padding: 30px;
  background-color: #ddd;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

#frontpage #footer {

  background-color: rgba(0, 0, 0 , 0.2);
  color: #fff;
}

#frontpage #footer p {

	margin: 0;
}

#frontpage #footer a {

  color: #fff;

}

#footer #eulogo {

  float: left;
  margin: 4px 10px 0 0;
  border: 1px solid #fff;
}