body#frontpage {

  background-size: cover;
  background-repeat: no-repeat;
}

#frontpage .content {

  background-color: transparent;
}

#frontpage .search-form .btn-primary {

  border-color: darken($yellow, 5%);
  background-color: $yellow;
}

#frontpage .search-form .dropdown-toggle {
  height: 37px;
}

#frontpage .form-control:focus {

  box-shadow: none !important;
  border-color: rgb(204, 204, 204) !important;
}

#frontpage .form-control.tt-input,
#frontpage .form-control.tt-hint {
  width: inherit;
}

#frontpage .search-form {
  margin-top: 20px;
}

#frontpage .search-form .submit-btn,
#frontpage .search-form .select-field-btn {
  width: 1%;
}

#frontpage .search-form .select-field-btn .btn{
  border-right: 0;
}

#searchlogo {
  padding: 40px 0 20px 0;
  display: block;
  margin: 0 auto;
}

#welcomeSearch {

  border-radius: 3px;
  background-color: rgba(239, 239, 239, 0.8);
  padding-bottom: 40px;
  margin-bottom: 27px;
}

#welcomeDetails {

  color: #fff;
  font-size: 1.1em;
}


#welcomeDetails h3 {
  font-size: 1.7em;
}

.welcomebox {
  background-color: rgba(239, 239, 239, 0.8);
  padding: 25px;
  margin-bottom: 27px;
  color: #111;
  border-radius: 3px;
  text-align: justify;
}

.welcomebox h1 {
  color: #111;
  font-size: 1.5em;
  margin: 0px 0px 10px;
  border-bottom: 1px solid $red;
}

.welcomebox h1:before {
  @extend .glyphicon, .glyphicon-stop;
  color: $red;
  font-size: 0.5em;
  top: 6px;
  left: -2px;
}

.welcomebox h2 {
  color: #222;
  font-size: 1.1em;
  margin: 0px 0px 5px;
}

.welcomebox p {
  line-height: 1.3em;
  margin: 0px;
}

#where .imageBox {

  background-color: #b6d0d1;
}

.welcomebox.browse .imageBox {

  background-color: lightgrey;
  border-radius: 3px;
  overflow:hidden;
}

.welcomebox.browse .btn-primary {

  position: absolute;
  top: 10px;
  left: 25px;
  background-color: transparent;
  color: $brand-primary;
}

.welcomebox.browse .btn-primary:hover {

  background-color: $brand-primary;
  color: white;
}