.browse-map-container .map-controls {
	position: absolute;
	top: 60px;
	right: 10px;
	z-index: 500;
	text-align: center;
}

.browse-map-container .map-controls .btn-search {	
	border-color: darken($yellow, 5%);
 	background-color: $yellow;
 	color: #fff;
 	text-align: center;
}

.browse-map-container .map-controls .btn-search:hover {	
	border-color: darken($yellow, 5%);
 	background-color: $yellow;
 	color: #fff;
}