.navbar, .navbar-default, .collapse {
  background-color: #efefef;
  border: 0;
}

.navbar {
  line-height: 0;
  padding: 0;
  margin: 0;
  height: 56px;
}

.navbar-brand {
  padding-left: 30px;
  padding-right: 0;
  padding-top: 16px;
}

.navbar-header {
  min-height: 56px;
}

.navbar-toggle {
  margin-right: 30px;
  margin-top: 12px;
}

.nav-justified > li > a {
  padding-top: 19px;
  padding-bottom: 21px;
}

#navSearch #catalogSearch {
  padding: 0 15px 6px 15px;
  position: absolute;
  top: 13px;
  text-align:center;
  width: 100%;
}

.collapsing {
  border-width: 0;
}

.navbar > .container-fluid {
   padding-right: 0;
   padding-left: 0;
}

/* Menu links colors etc */
#navCatalog a,#navServices a,#navExperiments a,#navAbout a {
  color: #555;
}

#navCatalog {
  border-bottom: 3px solid $yellow;
}

#navSearch {
  border-bottom: 3px solid $yellow;
  padding-right: 180px;
}

#navSearch.active {
  background-color: rgba($yellow, 0.2);
}

#navSearch .input-group .form-control {
  float: none;
}

#navSearch .btn-primary {
  border-color: darken($yellow, 5%);
  background-color: $yellow;
}

#navSearch .btn {
  height: 31px !important;
  padding: 3px 3px 4px 4px;
}

#navSearch .form-control {
  height: 31px;
}

#navSearch .form-control:focus {
  box-shadow: none;
  border-color: #D5A03A;
}

#navServices {
  border-bottom: 3px solid $red;
}

#navExperiments {
   border-bottom: 3px solid $blue;
}

#navAbout { 
  border-bottom: 3px solid $green;
}

#navCatalog > a:hover, #navCatalog > a:focus, #navCatalog.active > a {
  color: #fff;
  background-color: rgba($yellow, 0.2);
}

#navServices > a:hover, #navServices > a:focus, #navServices.active > a {
  color: #fff;
  background-color: rgba($red, 0.2);
}

#navExperiments > a:hover, #navExperiments > a:focus, #navExperiments.active > a {
  color: #fff;
  background-color: rgba($green, 0.2);
}

#navAbout > a:hover, #navAbout > a:focus, #navAbout.active > a {
  color: #fff;
  background-color: rgba($blue, 0.2);
}

@media screen and (max-width: 767px){

  #navSearch {
    border: 0;
    display: none;

    #catalogSearch > .input-group {
      margin-top: 15px;
      margin-left: 50px;
      margin-right: 60px;
    }
  }
}
