#search_results_box .total {
	padding: 8px;
}

#search_results_box .pagination {
	margin: 0;
}

#search_results_box .pagination li > span,
#search_results_box .pagination li > a {
	padding: 4px 12px;
}