/* Resources metadata */

.resource-metadata div {
  margin-bottom: 10px;
  text-align: justify;
}

.resource-metadata .tag {
  padding-right: 10px;
}

.resource-metadata ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.resource-metadata .button {
  cursor: pointer;
  text-decoration: none;
}

.resource-metadata .landing-page {
    font-size: 17px;
    border: 1px solid #135c77;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration: none;
}

.resource-metadata .landing-page:hover {    
    background: lighten($blue, 65);    
}

/* Resources context */

.resource-context #map {
  height: 250px;
}

.resource-context #map-legend {
    float: right;    
    display: block;
}

.resource-context #map-legend span {
    padding-left: 20px;
    font-size: 75%;
}

.resource-context #map-legend img {
    height: 21px;
    width: 13px;
    margin-right: 5px;
}

.resource-context .marker-label {
  font-size: 12px;
}

.resource-context h4 {
	margin-top: 30px;
	margin-bottom: 10px;
}

/* Citation modal */

.resource-citation-modal .info {
	margin-bottom: 15px;
}

.resource-citation-modal input {
  width: 100%;
}

#description + [data-readmore-toggle] {
    margin-bottom: 15px;
}

#backlink :before {
    content: '<< ';
}

.list-similar {
  text-indent: -24px;
  margin-left: 24px;
}

.list-similar li {  
  line-height: 0.9em;
  padding: 5px 0px;
}