/* Resources metadata */

.resource-metadata div {
  margin-bottom: 10px;
  text-align: justify;
}

.resource-metadata .tag {
  padding-right: 10px;
}

.resource-metadata ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

/* Resources context */

.resource-context #map {
  height: 250px;
}

.resource-context .marker-label {
  font-size: 12px;
}

.resource-context h4 {
	margin-top: 30px;
	margin-bottom: 10px;
}