.filter-container {

	position: relative;

	.map-container {
		height: 250px;
	}

	.controls-left {
		
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 500;
		text-align: center;
	}

	.controls-right {

		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 100;

		.btn-filter {	
			border-color: darken($brand-primary, 5%);
		 	background-color: $brand-primary;
		 	color: #fff;
		 	text-align: center;
		}

		.btn-filter:hover {	
			border-color: darken($brand-primary, 5%);
		 	background-color: $brand-primary;
		 	color: #fff;
		}
	}
}