.hit:hover {
	background-color: #f3f3f3;
}

.hit {
	padding: 15px;
	cursor: pointer;
}

.hit h5 {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 10px;
}

.hit p {
  margin-bottom: 7px;
}

.hit p.highlights {
  margin: 0;
  font-size: 0.9em;
}

.hit em {
  background-color: #ffffcc;
  font-style: normal;
}