@import "variables";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700&subset=latin,latin-ext);

body {
	font-family: 'Lato',Helvetica,sans-serif;
	padding-top: 70px;
}

.hit {
	margin-bottom: 30px;
}