.timeline {

	.area {
		fill: $green;
		stroke: darken($green, 30%);
	}

	.brush .extent {
		stroke: darken($yellow, 30%);
		stroke-opacity: .125;
		fill-opacity: .125;
		fill: $yellow;
		shape-rendering: crispEdges;
	}

	.zoom-controls {
		z-index: 500;
		text-align: center;
		position: absolute;

		.btn-sm.list-group-item {
			font: bold 18px "Lucida Console", Monaco, monospace;
		}
	}

	.brush-controls-container {
		position: absolute;
		left: 0;
		display: inline;

		.brush-controls {
			position: relative;
			top: 0;
			left: 0;
			z-index: 500;
		}
	}
}

.browse-container.timeline {

	text {
		font-size: 13px;
	}

	.zoom-controls {

		top: 75px;
		left: 10px;

		.btn-sm.list-group-item {
			padding: 5px 10px;
		}		
	}

	.axis path,
	.axis line {
	    fill: none;
	    stroke: #000;
	    stroke-width: 1px;
	    shape-rendering: crispEdges;
	}
}

.filter-container.timeline {

	text {
		font-size: 25px;
	}

	.axis path,
	.axis line {
	    fill: none;
	    stroke: #000;
	    stroke-width: 3px;
	    shape-rendering: crispEdges;
	}

	.zoom-controls {

		top: 10px;
		left: 10px;

		.btn-sm.list-group-item {
			padding: 1px 8px;
		}		
	}
}