.browse-container.timeline {

	text {
		font-size: 13px;
	}

	.zoom-controls {

		position: absolute;
		top: 75px;
		left: 10px;
		z-index: 500;
		text-align: center;

		.btn-sm.list-group-item {
			padding: 5px 10px;
		}
		
	}

	.area {
		fill: $green;
		stroke: darken($green, 30%);
	}

	.axis path,
	.axis line {
	    fill: none;
	    stroke: #000;
	    stroke-width: 1px;
	    shape-rendering: crispEdges;
	}

	.brush .extent {
		stroke: darken($yellow, 30%);
		stroke-opacity: .125;
		fill-opacity: .125;
		fill: $yellow;
		shape-rendering: crispEdges;
	}

}