$font-size-base: 17px;
$font-family-base: 'Lato',Helvetica,sans-serif;

$brand-primary:                    rgb(99, 155, 145) !default;

$navbar-default-color:                     #000 !default;
$navbar-default-bg:                        rgb(0, 0, 0) !default;

$navbar-default-link-color:                #fff !default;
$navbar-default-link-hover-color:          #fff !default;
$navbar-default-link-hover-bg:             darken($navbar-default-bg, 3.25%) !default;
$navbar-default-link-active-color:         #efefef !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #fff !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;

// Buttons
$btn-primary-color:              #fff !default;
$btn-primary-bg:                 rgba(80, 106, 159, 0.8) !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;